<?xml version="1.0"?>

<configuration>
	<appSettings>
		<add key="consumer_key" value="b745e90f5a4ada81c1a9cbe5f2ad40bb052785240"/>
		<add key="consumer_secret" value="fb6bcdbdd0a82584fdaf178dea01b414"/>
		<add key="CallBack" value="http://localhost:2196/Step3_AccessToken.aspx"/>
	</appSettings>
	<system.web>
		<compilation debug="true"/>
    </system.web>
</configuration>
